body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ec1c6c;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ec1c6c;;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #080808;
}

.hero {
    background: url('back.jpg') center/cover no-repeat;
    padding: 150px;
    text-align: center;
    color: #080808;
    font-size: 29PX;
}

.content {
    padding: 30px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.product-item {
    background-color: white;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

.product-item h3 {
    margin: 10px 0 5px;
}

.product-item p {
    color: #ec1c6c;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin-top: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ec1c6c;;
    color: black;
}

footer {
    background-color: #ec1c6c;;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}